<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<false/>
	<key>destination</key>
	<string>export</string>
	<key>iCloudContainerEnvironment</key>
	<string>Production</string>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://www.dripsdiary.com/dripsdiary.ipa</string>
		<key>displayImageURL</key>
		<string>https://www.dripsdiary.com/icon57x57</string>
		<key>fullSizeImageURL</key>
		<string>https://www.dripsdiary.com/icon512x512</string>
	</dict>
	<key>method</key>
	<string>development</string>
	<key>signingStyle</key>
	<string>automatic</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>HF6K9XFF34</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
